/* Variables */

:root{

    --blue-background: #365ABA;
    --blue-light-background: #8D8FC0;
    --color-white: #eee;
    --color-grey: #333;

}



/* Global css rules */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html{
    
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

}

header{

    width: 90%;
    min-height: 10vh;
    margin: 0 auto;
    padding: 2em 0;
    background: linear-gradient(to bottom, var(--blue-light-background), var(--blue-background));
    border-bottom: 1px solid var(--color-white);


}

header h1{

    color: #eee;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;

}

h2{

    color: #eee;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;



}

[class ^= "box-"]{

    display: grid;
    place-items: center;
    padding: 1em;
    border: 5px solid var(--color-grey);
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: var(--color-white);
}

.section-main{

    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    background: linear-gradient(to bottom, var(--blue-background), var(--blue-light-background));
    font-size: 2rem;

}

/* Pancake Layout */

.section-pancake{

    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-white);
    padding: 1em;


    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 1em;

}


/* 12 Grid Column Layout */


/* 

In the above Pancake layout; we only needed to use grid-template-rows and specify how many rows there are by specifying the sizes of each row in sequence. In the below example, we use grid-template-rows to first define the sizing of each row of which there are two rows: auto for the first row for the heading and 1fr for the second row which takes up the remaining space. 

We can then specify how many columns each element takes up by defining this on each class separately. 

*/


.section-beginner-plus{

    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-white);
    padding: 1em;


    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;

}

/* The heading takes up the whole width of the section as it spans across all 12 columns */

.section-beginner-plus h2{

    grid-column: 1 / 13;

}

/* Each element spans n number of columns which in total adds up to 12 columns */


.section-beginner-plus .box-4 {

    grid-column: span 2;


}

.section-beginner-plus .box-5 {

    grid-column: span 6;

}

.section-beginner-plus .box-6{


    grid-column: span 4;

}